<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <meta charset="utf-8">
    <title>App</title>
</head>

<div class="container">
  <!-- SQUIRREL -->
   <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/529582/Tommy-Lee-Jones-Squirrel.png" class="TLJ-Squirrel" />
  <!--- LOGO -->
  {{{body}}}
  <!-- LINKS -->
  <div id="links" class="link__section animated">
  <a id="portfolio"><p class="portfolio-link">View Portfolio</p></a>
  <div class="triangle animated heartBeat infinite"></div>
  </div>
  <!-- CONTACT BUTTONS -->
  <div id="btns" class="btn__section animated">
   <!-- Github, Behance, Codepen, Contact --->
   <!--<a id=""><img src="/" class="btn"></a>
    <a id=""><img src="/" class="btn"></a>
    <a id=""><img src="/" class="btn"></a>
    <a id=""><img src="/" class="btn"></a> -->
  </div>
</div>
<script src="/js/scripts.js"></script>



</html>
