
    <!-- <img style="width:200px;height:200px;" src="{{this.original}}"/> -->
    <div class="img__section">
      <div id="img" class="port__section hidden">
      {{#response}}
        {{#covers}}
        <img id="port-img" data-key="{{@index}}" src="{{this.original}}" class="port-img" />
        {{/covers}}
      {{/response}}
    </div>
     <img id="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/529582/Nol-Wag.svg" class="main-img animated" />
    </div>
