@import url("https://fonts.googleapis.com/css?family=Raleway:300,400|Roboto:400,700");
body {
  background-color: #1e1e1e;
  margin: 2em;
  color: #fff; }

.container {
  display: flex;
  justify-content: center;
  padding: 3em; }

.port-img {
  width: 300px; }

.img__section {
  height: 250px;
  overflow: hidden;
  align-self: center; }

.content__section {
  width: 50%; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 4em;
  margin: 0; }

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: yellow;
  font-size: 1.8em;
  text-transform: uppercase;
  margin: 0; }

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  margin: 1em 0em; }

button {
  border: 1px #333 solid;
  background-color: #fff0;
  color: #fff;
  padding: 1em 2.5em;
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif; }
  button:hover {
    background-color: #fff;
    color: #333; }

.btn-space {
  margin: 0 2em; }
